/*
Theme Name: Collective Child
Theme URI:  http://collective.stonedthemes.com/
Description: A child theme of Collective Theme
Author: StonedThemes
Author URI: http://stonedthemes.com/
Version: 1.0
Template: collective
*/

@import url("../collective/style.css");

p{
  font-size: 15px;
}
.fz24{
  font-size: 24px;
  margin-bottom: 40px;
}


/*h1-style*/

.h1-style {
  color: #0072bc;
  font-weight: bold;
  margin: 40px 0px;
  position: relative;
}

.h1-style::before {
  content: '';
  display: block;
  border-bottom: 3px solid #0072bc;
  width: 50px;
  top: 30px;
  position: absolute;
}


/*header*/

.header-v1 .menu ul.sub-menu, .header-v1 .menu ul.children {
  background: #fff !important;
  border: 1px solid #eee !important;
}


/*main-img-col*/

.main-img-col>.vc_column-inner {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.main-img-col>.wpb_wrapper {
  height: 180px;
}

.main-link-txt p{
  position: relative;
  font-size: 36px;
  text-align: center;
  color: #fff;
  margin-bottom: 0px;
}
.main-bt-row{
  position: relative;
  margin-bottom: 35px;
}

.main-bt-txt{
  position: absolute;
  top: 25%;
  left: 20%;
  color:#fff;
  opacity: 0;
  font-size: 24px;
  z-index: 20;
  transition: .5s;
}
.wpb_wrapper:hover .main-bt-txt{
  opacity: 1;
}

/*main-bottom-links*/

.wpb_wrapper .vc_figure {
  position: relative;
}

.wpb_wrapper .vc_figure a::before {
  opacity: 0;
  content: '';
  display: block;
  width: 86%;
  height: 86%;
  background-color: #000;
  z-index: 20;
  background-color: rgba(0, 0, 0, .8);
  position: absolute;
  top: 7%;
  left: 7%;
  cursor: pointer;
  z-index: 10;
}

.wpb_wrapper .vc_figure a::after {
  opacity: 0;
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  z-index: 20;
  position: absolute;
  bottom: 12%;
  right: 15%;
  cursor: pointer;
  z-index: 10;
}

.wpb_wrapper:hover .vc_figure a::before {
  opacity: 1;
  transition: .5s;
}

.wpb_wrapper:hover .vc_figure a::after {
  opacity: 1;
  transition: .5s;
}

.vc_column-inner a:hover {
  cursor: pointer;
}


/*---------about-us---------*/

.about-us-txt {
  color: #979797!important;
  font-size: 14px;
  line-height: 2em;
  margin: 0px 8% 0px 10% !important;
}
@media (max-width: 767px) {
  .about-us-txt {
    margin: 0px 10% 0px 10% !important;
  }
}

.about-us-txt p{
  margin:20px 0px;

}
.about-us .vc_column-inner {
  padding-right: 0px !important;
}

.about-us-txt em {
  color: #0072bc;
  font-style: normal;
}

blockquote {
  text-align: center;
  font-weight: bold;
  background: #fff;
  border-left: 0px solid #fff!important;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-family: Helvetica;
  font-size: 30px !important;
}
blockquote p{
  font-size: 30px !important;

}

blockquote:before {
  color: #0072bc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #0072bc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.6em;
}

blockquote p {
  display: inline;
  color: #0072bc !important;
}
div.wpb_single_image.wpb_content_element.vc_align_center {
  margin-bottom: 0px !important;
}

/*---------course---------*/
.course-row-img{

  position: relative;
  margin-bottom: 30px !important;
}
.course-row-txt{
  position: absolute;
  top:10%;
  color:#fff;
  z-index: 20;
  transition: .5s;
  padding: 40px;
  opacity: 0;
  width: 80%;
  left:10%;
}
.course-row-txt p{
  margin-bottom: 40px;
}
.wpb_wrapper:hover .course-row-txt{
  opacity: 1;
}

.tes-name{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.wpb_content_element, ul.wpb_thumbnails-fluid>li{
  margin-bottom: 0px !important;
}

 .wpb_wrapper:hover .course-row-txt p{
  opacity: 1;
  /*display: block;*/
}
.wpb_text_column :last-child{
  margin-bottom: 20px !important;
}

.btn-course{
  font-size: 12px !important;
  border: 1px solid #fff !important;
  color:#fff;
  background-color: transparent;
  border-radius: 0px !important;
  padding: 5px 30px !important;

}
.btn-course:hover, .btn-course:active, .btn-course:focus{
  background: #0072bc;
  color:#fff !important;
  border: 1px solid #0072bc !important;
}

/*---------course-inside-page--------*/
.course-inner-img>.wpb_wrapper{
  position: relative;
}

.course-txt-row{
  position: absolute;
  top: 46%;
  right: 20%;
  color:#fff !important;
  text-align: center;
}
.course-txt-row p{
  font-size: 32px;
  margin-bottom: 40px;
}

.course-txt-info-row{
  color:#fff;
  margin: 10px 10px;

}
.course-txt-info{
  padding: 0px 40px;
  /*margin: 10px;*/
  color:#fff;
}
.course-txt-info ul{
  margin-left: -20px;
}
.course-txt-info-row .vc_column-inner{
  padding-bottom: 35px;
}

.course-txt-info p{
  color:#fff;
}
.vc_custom_1499341377774{
  display: flex;
  align-items: center;
  justify-content: center;
}
.h2-style{
  position: relative;
  height: 65px;

}
.h2-style::before{
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  /*height: 40px;*/
  border-bottom: 3px solid #fff;
  top: 15px;
  padding-bottom: 20px;

}

/*----------contact-form----------*/
.contact-us-txt{
  padding: 0px 5% 0px 5%!important;
}
.wpcf7-form{
  padding-top: 20px;
}
.wpcf7-form label {
  color:#b7b7b7;
  width: 100%;
  margin-bottom: 0px !important;
/*border-top: 1px solid #b7b7b7;*/

}

.wpcf7-form p{
  border-top: 1px solid #b7b7b7;
}
.wpcf7-form p:nth-child(5){
  border-bottom: 1px solid #b7b7b7;

}

.wpcf7-form p:last-child{
  border-top: 0px;
  width: 60%;
  text-align: right;
}

.wpcf7-form input{
  border: 0px;
  width: 90%;
  margin-left: 2%;
}
.wpcf7-form textarea{
  border: 0px;
}
.wpcf7-form input:focus, .wpcf7-form textarea:focus{
  border: 0px;
  outline:none;
}
input[type=button], input[type=reset], input[type=submit]{
  background: #fff !important;
  border: 1px solid #0072bc !important;
  color: #0072bc;
  padding: 5px 40px;
}
.wpcf7-form-control-wrap{
  /*float: left;*/
  width: 310px;
}

input.wpcf7-submit{
  margin-top: -14px;
  width: 120px;

}

span.ajax-loader{
  display: none !important;
}
.recap-submit{
  display: flex;
  margin-top: 20px;
  /*align-items: center;*/
}

.contact-us-info{
  color:#979797;
}
.contact-us-info >.wpb_text_column:last-child{
  margin-bottom: 20px !important;
}
.wpcf7-form p{
  padding-top: 10px;
}
.sat-sun{
  margin-left: 10px;
}
#sat-sun{
  margin-left: 23px;
}

/*test*/
.post-details p{
  display: none;
}
.load-more-container a{
  color:#0072bc !important;
}
.text-normal a{
   pointer-events: none;

}
.text-normal a:hover{
   text-decoration: none;
}

.blog-masonry-item> a{
  display:block;
  pointer-events: none !important;

}
.blog-masonry-item:hover h4 a{
  text-decoration: none !important;
}
.blog-item-content{
  display:block;
  border-right: 0px !important;
  padding-right: 0px !important;
  text-align: justify;

}
.blog-item-content>a{
  display: block;
  pointer-events: none !important;

}
/*.masonry-item{
  position: inherit !important;
}*/

/*.blog-row{
  display: flex;
  height: 500px;
}*/

.blog-item-content p{
  color:black !important;
}
.blog-masonry-item .overlay{
  background: none !important;
}
.contact-us-info>.wpb_text_column:last-child{
  margin-bottom: 0px !important;
}
textarea.wpcf7-form-control.wpcf7-textarea {
  width: 100%;
}
/*footer*/

footer {
  padding: 15px !important;
  color: #0072bc;
}
